body {
	background-image: url("images/paul-berthelon-bg.jpg");
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	max-width: 100%;
}

.container {
	display: flex;
	flex: 1;
}

nav {
	float: left;
	max-width: 20%;
	height: auto;
	display: grid;
	order: -1;
}

.content {
	flex: 1;
}