body {
	background-image: url("images/paul-berthelon-bg.jpg");
	display: grid;
	max-width: 100%;
}

nav {
	float: left;
	max-width: 20%;
	height: auto;
	display: grid;
	grid-column: 1;
	grid-row: 1 / span *;
}

.content {
	grid-column: 2 / 3;
	float: right;
}