body {
	font-family: 'Dosis', sans-serif;
	background-image: url("/images/paul-berthelon-bg.jpg");
	min-height: 100vh;
	flex-direction: column;
	max-width: 100%;
	margin: 0 auto;
}


header {
	display: inline-flex;
	justify-content: space-around;
	background-color: black;
	color: white;
	font: 'Dosis';
	width: 100%;
	text-align: center;
	line-height: 30px;
}

.links {
	display: flex;
}

.links a {
	display: inline-block;
	padding-right: 50px;
	text-decoration: none;
	color: white;
	font-size: 24px;
}

.links a:hover {
	background-color: green;
	color: black;
}

h1 {
	display: flex;
	justify-content: center;
	font-weight: bold;
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	max-width: 60%;
}